QWidget{
	background-color: #2c2c33;
	color:white;
	border:none;
	font-family: Roboto;
}

QDialog{
	background-color: #2c2c33;
}

QFrame{
	background-color: #2c2c33;
}

QLabel{
	background-color: transparent;
}

QPushButton{
	border: 2px solid #42424d;
	background-color: #42424d;
	padding: 12px;
	border-radius: 5px;
}

QPushButton::hover{
	border: 2px solid #4b4b57;
	background-color: #4b4b57;
}

QPushButton::pressed{
	border: 2px solid #1d1d21;
	background-color: #1d1d21;
}

QLineEdit, QSpinBox{
	background-color:#24242b;
	padding: 4px;
	border-radius: 5px;
}

QCheckBox::indicator {
    width: 20px;
    height: 20px;
    background-color:#24242b;
    border-radius: 5px;
}

QCheckBox::indicator:checked {
    image: url(ressources/icons/checkBox.png);
}

QTreeView {
	background-color:#24242b;
	show-decoration-selected: 0;
	outline:none;
	padding:10px;
}
 
QTreeView::item {
	padding:5px;
	border-radius:5px;
	margin: 1px;
	margin-right: 10px;
}
 
QTreeView::item:hover {
	background-color:rgba(255,255,255,10);
}
 
QTreeView::item:selected {
	background-color:rgba(255,255,255,30);
}
 
QTreeView::item:selected:active{
	background-color:rgba(255,255,255,30);
}
 
	QTreeView::item:selected:!active {
background-color:rgba(255,255,255,30);
	color:white;
}

QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings {
        image: url(ressources/icons/QTreeViewRight.png);
        background:none;
}

QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings  {
        image: url(ressources/icons/QTreeViewDown.png);
        background:none;
}

QTreeView::branch:selected {
    background: none;
    color: white;
}

QTreeView::branch {
    background: none;
}

QTreeView::branch:!selected {
    background: none;
}

QTreeView::branch:selected:active {
    background: none;
}

QTreeView::branch:selected:!active {
    background: none;
}

QTreeView::branch:hover {
   background: none;
}

QScrollBar:vertical{
	width:6px;
	background-color: rgba(0,0,0,50);
	border-radius:3px;
}

QScrollBar::handle:vertical {	
	background-color:  rgba(255,255,255,30);
	min-height: 30px;
	border-radius: 3px;
}
QScrollBar::handle:vertical:hover{	
	background-color: rgba(255,255,255,50);
}
QScrollBar::handle:vertical:pressed {	
	background-color: rgba(255,255,255,50);
}

QScrollBar::sub-line:vertical, QScrollBar::add-line:vertical
{
      border: none;
      background: none;
      color: none;
	  height:0px;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
	background: none;
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
	background: none;
}

QProgressBar {
    height:6px;
	background-color: rgba(0,0,0,50);
	border-radius:3px;
}

QProgressBar::chunk {
    background-color: #7785de;
	border-radius:3px;
}

#gray_label{
	color: gray;
}

#user_xp_progressBar::chunk{
	background-color: #ffea80;
}

#user_life_progressBar::chunk{
	background-color: #e96c6c;
}

#blue_button{
	background-color: transparent;
	border: 2px solid #7785de;
}

#blue_button::hover{
	background-color: #8e9dfa;
	border: 2px solid #8e9dfa;
}

#blue_button::pressed{
	background-color: #6772b5;
	border: 2px solid #6772b5;
}

#blue_text_button{
	background-color: transparent;
	color: #7785de;
	padding: 0px;
	border: none;
}

#blue_text_button::hover{
	color: #8e9dfa;
}

#blue_text_button::pressed{
	color: #6772b5;
}

#red_button{
	border: 2px solid #f0605b;
}

#red_button::hover{
	background-color: #ff817d;
	border: 2px solid #ff817d;
}

#red_button::pressed{
	background-color: #ab4946;
	border: 2px solid #ab4946;
}

#tree_stage_item{
	background-color: transparent;
}

#tree_search_lineEdit{
	background: transparent;
}

#tree_clear_pushButton, #tree_refresh_pushButton{
	background: transparent;
	border: none;
}

#tree_refresh_pushButton{
	background-image: url(ressources/icons/tree_refresh.png);
}
#tree_refresh_pushButton::hover{
	background-image: url(ressources/icons/tree_refresh_hover.png);
}

#tree_clear_pushButton{
	background-image: url(ressources/icons/close.png);
}
#tree_clear_pushButton::hover{
	background-image: url(ressources/icons/close_hover.png);
}

#menu_widget_frame{
	border-radius: 10px;
}

#instance_creation_frame{
	border-radius: 10px;
}

#title_label{
	font: bold large;
	font-size: 18px;
}

#menu_widget_button{
	border-radius: 0px;
}

#tree_datas_label{
	color: gray;
	padding: 5px;
}

#close_button{
	background-color: #f0605b;
	border: none;
	border-radius: 8px;
}

#close_button::hover{
	background-color: #ff817d;
}

#close_button::pressed{
	background-color: #ab4946;
}

#quote_label{
	padding: 5px;
	font-size: 14px;
}

#password_visibility_button{
	background-color: transparent;
	border: none;
	background-image: url(ressources/icons/password_visibility_off.png);
}

#password_visibility_button::checked{
	background-image: url(ressources/icons/password_visibility_on.png);
}

#password_lineEdit_frame{
	background-color: #24242b;
	border-radius: 5px;
}