QWidget{
	background-color: #2c2c33;
	color:white;
	border:none;
	font-family: Roboto;
}

QDialog{
	background-color: #2c2c33;
}

QFrame{
	background-color: #2c2c33;
}

QLabel{
	background-color: transparent;
}

QPushButton, QToolButton, #classic_button{
	border: 2px solid #42424d;
	background-color: #42424d;
	padding: 12px;
	border-radius: 5px;
}

QPushButton::hover, QToolButton::hover, #classic_button::hover{
	border: 2px solid #4b4b57;
	background-color: #4b4b57;
}

QPushButton::pressed, QToolButton::pressed, #classic_button::pressed{
	border: 2px solid #1d1d21;
	background-color: #1d1d21;
}

QLineEdit, QSpinBox, QTextEdit{
	background-color:#24242b;
	padding: 4px;
	border-radius: 5px;
}

QComboBox{
	background-color:#24242b;
	padding: 6px;
	border-radius: 5px;
}

QComboBox::hover{
	background-color: #42424d;
}

QComboBox QAbstractItemView {
	background-color:#19191f;
    border-radius: 4px;
    padding: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
}

QComboBox QAbstractItemView::item {
	min-height: 24px;
	border-radius: 0px;
	height: 24px;
}

QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 25px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: transparent;
}

QComboBox::drop-down::hover {
    background-color: #4b4b57;
}

QComboBox::down-arrow {
    image: url(ressources/icons/combobox.svg);
    width: 15px;
    height: 15px;
}

QCheckBox::indicator {
    width: 20px;
    height: 20px;
    background-color:#18181c;
    border-radius: 5px;
}

QCheckBox::indicator:checked {
    image: url(ressources/icons/checkBox.svg);
}

QListView {
	background-color:#24242b;
	show-decoration-selected: 0;
	outline:none;
	padding:2px;
	border-radius:0px;
}
 
QListView::item {
	padding:2px;
	border-radius:5px;
}
 
QListView::item:hover {
	background-color:rgba(255,255,255,10);
}
 
QListView::item:selected {
	background-color:rgba(255,255,255,30);
}
 
QListView::item:selected:active{
	background-color:rgba(255,255,255,30);
}
 
QListView::item:selected:!active {
	background-color:rgba(255,255,255,30);
	color:white;
}

QTreeView {
	background-color:#24242b;
	show-decoration-selected: 0;
	outline:none;
	padding:10px;
}
 
QTreeView::item {
	padding:5px;
	border-radius:5px;
	margin: 1px;
	margin-right: 10px;
}
 
QTreeView::item:hover {
	background-color:rgba(255,255,255,10);
}
 
QTreeView::item:selected {
	background-color:rgba(255,255,255,30);
}
 
QTreeView::item:selected:active{
	background-color:rgba(255,255,255,30);
}
 
QTreeView::item:selected:!active {
	background-color:rgba(255,255,255,30);
	color:white;
}

QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings {
        image: url(ressources/icons/QTreeViewRight.svg);
        width: 10px;
    	height: 10px;
        background:none;
}

QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings  {
        image: url(ressources/icons/QTreeViewDown.svg);
        width: 10px;
    	height: 10px;
        background:none;
}

QTreeView::branch:selected {
    background: none;
    color: white;
}

QTreeView::branch {
    background: none;
}

QTreeView::branch:!selected {
    background: none;
}

QTreeView::branch:selected:active {
    background: none;
}

QTreeView::branch:selected:!active {
    background: none;
}

QTreeView::branch:hover {
   background: none;
}

QScrollBar:vertical{
	width:6px;
	background-color: rgba(0,0,0,50);
	border-radius:3px;
}

QScrollBar::handle:vertical {	
	background-color:  rgba(255,255,255,30);
	min-height: 30px;
	border-radius: 3px;
}
QScrollBar::handle:vertical:hover{	
	background-color: rgba(255,255,255,50);
}
QScrollBar::handle:vertical:pressed {	
	background-color: rgba(255,255,255,50);
}

QScrollBar::sub-line:vertical, QScrollBar::add-line:vertical
{
      border: none;
      background: none;
      color: none;
	  height:0px;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
	background: none;
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
	background: none;
}

QScrollBar:horizontal{
	height:6px;
	background-color: rgba(0,0,0,50);
	border-radius:3px;
}

QScrollBar::handle:horizontal {	
	background-color:  rgba(255,255,255,30);
	min-width: 30px;
	border-radius: 3px;
}
QScrollBar::handle:horizontal:hover{	
	background-color: rgba(255,255,255,50);
}
QScrollBar::handle:horizontal:pressed {	
	background-color: rgba(255,255,255,50);
}

QScrollBar::sub-line:horizontal, QScrollBar::add-line:horizontal
{
      border: none;
      background: none;
      color: none;
	  width:0px;
}

QScrollBar::up-arrow:horizontal, QScrollBar::down-arrow:horizontal {
	background: none;
}
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
	background: none;
}

QProgressBar {
    height:6px;
	background-color: rgba(0,0,0,50);
	border-radius:3px;
	color: transparent;
}

QProgressBar::chunk {
    background-color: #7785de;
	border-radius:3px;
}

QHeaderView::section {
    background-color: #24242b;
    color: gray;
    padding-left: 8px;
    border: none;
    font: bold;
}

QTabBar {
	background-color: #2c2c33;
	padding: 1px;
}

QTabWidget::tab-bar {

}

QTabWidget::pane{

}

QTabBar::tab {
	background-color: rgba(36, 36, 43, 170);
	padding: 9px;
	padding-left: 14px;
	padding-right: 14px;
	margin: 2px;
	margin-right: 1px;
	border-radius: 8px;
} 

QTabBar::tab:selected { 
	background-color: rgb(36, 36, 43);
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	margin-bottom: 0px;
	padding-bottom: 12px;
	font: bold;
}

QTabBar::tab:selected:hover { 
	background-color: rgb(36, 36, 43);
}

QTabBar::tab:hover { 
	background-color: rgba(36, 36, 43, 210);
}

QToolTip
{
    background-clip: border;
    color: white;
    background: #2c2c33;
    padding: 8px;
    border: none;
}

QMenuBar {
	background-color: transparent;
    padding: 0px;
    margin: 0px;
}

QMenuBar::item {
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 4px;
    margin: 0px;
}

QMenuBar::item:selected {
	background-color: #4b4b57;
}

QMenu {
	background-color: #19191f;
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
}

QMenu::item {
    padding: 4px;
    padding-right: 10px;
    padding-left: 10px;
    min-width: 100px;
    border-radius: 0px;
}

QMenu::item:selected {
	background-color: #4b4b57;
}

QMenu::icon:checked { /* appearance of a 'checked' icon */
    background: gray;
    border: 1px inset gray;
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
}

QMenu::icon{
	padding-left: 14px;
}

QMenu::separator {
    height: 1px;
    margin: 0px;
    margin-top: 1px;
    margin-bottom: 1px;
    background: rgba(255,255,255,30);
}

QDockWidget {
    border: 1px solid lightgray;
    titlebar-close-icon: url(close.png);
    titlebar-normal-icon: url(undock.png);
}

QDockWidget::title {
    text-align: left; /* align the text to the left */
    background: lightgray;
    padding-left: 5px;
}

QDockWidget::close-button, QDockWidget::float-button {
    border: 1px solid transparent;
    background: darkgray;
    padding: 0px;
}

QDockWidget::close-button:hover, QDockWidget::float-button:hover {
    background: gray;
}

QDockWidget::close-button:pressed, QDockWidget::float-button:pressed {
    padding: 1px -1px -1px 1px;
}

QSlider {
	background-color: transparent;
}

QSlider::groove:horizontal {
    height: 4px; /* the groove expands to the size of the slider by default. by giving it a height, it has a fixed size */
    background: #19191f;
    border-radius: 2px;
}

QSlider::handle:horizontal {
    background: url(ressources/icons/note_slider.png);
    width: 20px;
    height: 20px;
    margin: -8px 0; /* handle is placed by default on the contents rect of the groove. Expand outside the groove */
    border-radius: 3px;
}

#asset_tracking_event_frame{
	border-radius: 5px;
	background-color: #373740;
}

#asset_tracking_event_bg_frame{
	border-radius: 5px;
	background-color: #24242b;
}

#init_work_env_button{
	padding:0px;
	padding-left:8px;
	padding-right:8px;
	background-color: #7cbe6f;
	border: none;
}

#init_work_env_button:hover{
	background-color: #8bd07d;
}

#init_work_env_button:pressed{
	background-color: #619756;
}

#settings_tab_bar::tab {
	background-color: rgba(36, 36, 43, 170);
	padding: 9px;
	padding-left: 14px;
	padding-right: 14px;
	margin: 2px;
	margin-right: 1px;
	border-radius: 8px;
} 

#screenshot_button {
	border-radius: 10px;
}


#screenshot_button:hover {
	border: 1px solid gray;
}

#settings_tab_bar::tab:selected { 
	background-color: #7785de;
	font: bold;
}

#settings_tab_bar::tab:selected:hover { 
	background-color: #8e9dfa;
}

#settings_tab_bar::tab:hover { 
	background-color: rgba(36, 36, 43, 210);
}

#separator{
	background-color: #35353d;
}

#android_checkbox::indicator {
    width: 40px;
    height: 26px;
    background-color:#18181c;
    border-radius: 13px;
    image: url(ressources/icons/android_cb_off.svg);
}

#android_checkbox::indicator:checked {
    background-color:#7785de;
    image: url(ressources/icons/android_cb_on.svg);
}


#loading_widget_frame{
	border-radius: 5px;
}

#drop_widget{
	background-color: rgba(0,0,0,120);
	border: 2px solid gray;
	border-style : dashed;
}

#custom_content_widget{
	border: 1px solid black;
	background-color:#19191f;
}

#custom_title_bar{
	background-color: #24242b;
}

#window_decoration_button{
	border-radius: 3px;
	border: none;
}

#console_textEdit{
	background-color: #1d1d23;
	border-radius: 0px;
	font-family: Consolas;
}

#transparent_button{
	background: none;
	border: none;
}

#search_bar_frame{
	border-radius: 5px;
}

#dark_search_bar_frame{
	border-radius: 5px;
	background-color:#24242b;
}

#icon_view{
	padding: 6px;
}

#icon_view::item{
	padding: 2px;
	background-color: rgba(255,255,255,8);
	border: 2px solid transparent;
}

#icon_view::item:selected{
	padding: 2px;
	border: 2px solid gray;
}

#transparent_icon_view{
	padding: 6px;
	background: transparent;
}

#transparent_icon_view::item{
	padding: 2px;
	background-color: rgba(255,255,255,8);
	border: 2px solid transparent;
}

#transparent_icon_view::item:selected{
	background-color: rgba(255,255,255,16);
	padding: 2px;
	border: 2px solid gray;
}

#transparent_icon_view::item:hover{
	background-color: rgba(255,255,255,16);
}

#dark_widget{
	background-color:#24242b;
}

#transparent_widget{
	background: transparent;
}

#semi_right_transparent_widget{
	background: qlineargradient( x1:0 y1:0, x2:1 y2:0, stop:0 rgba(0,0,0,40), stop:1 transparent)
}

#semi_left_transparent_widget{
	background: qlineargradient( x1:1 y1:0, x2:0 y2:0, stop:0 rgba(0,0,0,40), stop:1 transparent)
}

#semi_top_transparent_widget{
	background: qlineargradient( x1:0 y1:1, x2:0 y2:0, stop:0 rgba(0,0,0,40), stop:1 transparent)
}

#semi_bottom_transparent_widget{
	background: qlineargradient( x1:0 y1:0, x2:0 y2:1, stop:0 rgba(0,0,0,40), stop:1 transparent)
}

#semi_top_left_transparent_widget{
	background: qradialgradient( cx:1 cy:1, radius: 1, fx:1, fy:1, stop:0 rgba(0,0,0,40), stop:1 transparent)
}

#semi_top_right_transparent_widget{
	background: qradialgradient( cx:0 cy:1, radius: 1, fx:0, fy:1, stop:0 rgba(0,0,0,40), stop:1 transparent)
}

#semi_bottom_right_transparent_widget{
	background: qradialgradient( cx:0 cy:0, radius: 1, fx:0, fy:0, stop:0 rgba(0,0,0,40), stop:1 transparent)
}

#semi_bottom_left_transparent_widget{
	background: qradialgradient( cx:1 cy:0, radius: 1, fx:1, fy:0, stop:0 rgba(0,0,0,40), stop:1 transparent)
}

#list_widget_frame{
	background-color: #24242b;
}

#tree_as_list_widget{
	padding: 0px;
	alternate-background-color: rgba(0,0,0,30);
}

#tree_as_list_widget::item{
	margin: 0px;
	border-radius: 0px;
}

#production_manager_list_widget{
	margin: 0px;
	alternate-background-color: rgba(0,0,0,50);
}

#production_manager_list_widget::item{
	padding: 0px;
	margin: 0px;
	border-radius: 0px;
}

#production_manager_list_widget::item:hover{
	padding: 0px;
	margin: 0px;
	border-radius: 0px;
	background: transparent;
}

#main_widget{
	background-color: #19191f;
}

#wall_scroll_area, #tickets_scroll_area {
	background-color: #24242b;
}

#gray_label{
	color: gray;
}

#red_label{
	color: #f0605b;
}

#orange_label{
	color: #f79360;
}

#bold_label{
	font: bold;
}

#user_xp_progressBar::chunk{
	border-radius:5px;
	background-color:qlineargradient(spread:pad, x1:0, y1:0.273, x2:1, y2:0.262, stop:0 #ffea80, stop:1 #e4ff5c);
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	min-width: 20px;
}

#user_xp_progressBar{
	border-radius:5px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

#user_life_progressBar::chunk{
	border-radius:5px;
	background-color: #e05c5c;
	background-color:qlineargradient(spread:pad, x1:0, y1:0.273, x2:1, y2:0.262, stop:0 #fc4242, stop:1 #e96c6c);
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	min-width: 20px;
}

#user_life_progressBar{
	border-radius:5px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

#blue_button{
	background-color: transparent;
	border: 2px solid #7785de;
}

#blue_button::hover{
	background-color: #8e9dfa;
	border: 2px solid #8e9dfa;
}

#blue_button::pressed{
	background-color: #6772b5;
	border: 2px solid #6772b5;
}

#blue_text_button{
	font: bold;
	background-color: transparent;
	color: #7785de;
	padding: 0px;
	border: none;
}

#blue_text_button::hover{
	color: #8e9dfa;
}

#blue_text_button::pressed{
	color: #6772b5;
}

#red_button{
	border: 2px solid #f0605b;
}

#red_button::hover{
	background-color: #ff817d;
	border: 2px solid #ff817d;
}

#red_button::pressed{
	background-color: #ab4946;
	border: 2px solid #ab4946;
}

#tree_stage_item{
	background-color: transparent;
}

#dropdown_button{
	background-color: transparent;
	border: none;
	border-image: url(ressources/icons/dropdown.svg);
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

#dropdown_button::hover{
	border-image: url(ressources/icons/dropdown_hover.svg);
	background-repeat: no-repeat;
}

#edit_button{
	background-color: transparent;
	border: none;
	border-image: url(ressources/icons/edit.svg);
	background-repeat: no-repeat;
	width: 12px;
	height: 12px;
}

#edit_button::hover{
	border-image: url(ressources/icons/edit_hover.svg);
	background-repeat: no-repeat;
}


#search_lineEdit{
	background: transparent;
}

#clear_search_button, #tree_refresh_pushButton{
	background: transparent;
	border: none;
}

#clear_search_button{
    background: transparent;
}

#round_frame{
	border-radius: 8px;
}

#production_manager_variant_frame{
	border-radius: 0px;
	background-color: rgba(255,255,255,15);
}

#production_manager_variant_frame:hover{
	background-color: rgba(255,255,255,30);
}

#production_manager_state_frame{
	border-radius:18px;
}

#item_widget_frame{
	border-radius: 8px;
	background-color: #393942;
}

#instance_creation_frame{
	border-radius: 10px;
}

#title_label{
	font: bold large;
	font-size: 18px;
}

#window_title_label{
	font: bold large;
	font-size: 16px;
	padding-left: 6px;
}

#title_label_gray{
	color: gray;
	font: bold large;
	font-size: 18px;
}

#tree_datas_label{
	color: gray;
	padding: 5px;
}

#quote_label{
	padding: 5px;
	font-size: 14px;
}

#password_visibility_button{
	background-color: transparent;
	border: none;
}

#password_lineEdit_frame{
	background-color: #24242b;
	border-radius: 5px;
}


#wall_event_frame{
	border-radius: 10px;
	background-color: #373740;
}

#popup_event_frame{
	border-radius: 5px;
	background-color: #373740;
}

#drop_files_button{
	background-color: transparent;
	border: 2px solid gray;
	border-style : dashed;
	border-radius: 5;
	color: gray;
}

#drop_files_button::hover{
	background-color: #4b4b57;
}

#drop_files_button::pressed{
	background-color: #1d1d21;
}

#file_frame{
	background-color: #42424d;
	border-radius: 3px;
}

#file_button{
	padding: 2px;
	border-radius: 3px;
}

#ticket_message_header_frame{
	background-color: transparent;
}

#ticket_message_content_widget{
	background-color: transparent;
}

#ticket_message_widget{
	background-color: #28282f;
}

#shelf_script_button{
	padding: 2px;
	background-color: transparent;
	border: none;
	font-size: 10px;
	color: gray;
}

#shelf_script_button::hover{
	color: white;
}

#shelf_script_button::pressed{
	color: #1d1d21;
}